<html>
<head>
    <meta charset="utf-8">
    <title>mooody</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/twemoji-awesome.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>

<!-- Info for charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Mood', 'Number of People'],
          ['Happy',     15],
          ['Angry',      6],
          ['Sad',        5]
        ]);
        var options = {
          title: '',
          legend:{ position: 'none' },
          slices: {0: {color: '#48b6fc'}, 1: {color: '#3A92CA'}, 2: {color: '#255C7F'}},
          pieSliceText: 'none',
          chartArea:{left:75,top:0,width:'50%',height:'100%'},
          pieHole: 0.6,
          tooltip: { trigger: 'selection', text:'none', ignorebounds:'True' },
        };
        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>
</head>

<!--****************************************************-->

<body ng-app="mooody">

<!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavCtrl">
    <!--<nav class="navbar navbar-default pull-right">-->
          <a class="navbar-brand" href="#">m<i class="twa twa-smile"></i><i class="twa twa-cry"></i><i class="twa twa-triumph"></i>dy</a>
          <ul class="nav navbar-nav">
              <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
              <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
              <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
              <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
          </ul>
    </nav>

<!-- Display the rest of the page -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <ui-view></ui-view>
        </div>
    </div>

<!-- Side bar -->
    <div class="sidebar">
        <center>
            <h3>Princeton's Mood:</h3>
            <div id="donutchart"></div>
            <div>
                <h4>Update your mood:</h4> <!-- make buttons functional-->
                <button><i class="twa twa-smile"></i></button>
                <button><i class="twa twa-cry"></i></button>
                <button><i class="twa twa-triumph"></i></button>
            </div>
        </center>
    </div>


<!-- home.html -->
    <script type="text/ng-template" id="/home.html">
    
    <!-- Section to add a new post -->
    <form ng-hide="!isLoggedIn()" ng-submit="addPost()" style="margin-top:30px;">
        <div class="form-inline">
            <div class="form-group">
                <input type="text"
                class="form-control"
                placeholder="What's on your mind?"
                ng-model="title"></input>
                <input type="text"
                class="form-control"
                placeholder="If you need to elaborate... (optional)"
                ng-model="body"></input>
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </div>
    </form>
    <div ng-hide="isLoggedIn()">
	  <h4>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can post.</h4><br>
	</div>

    <!-- Mood tabs and filters -->
    <div class="order-panels">
        <ul>
            <li><button ng-click="tab('all')" class="btn btn-default">ALL POSTS</button></li>
            <li><button ng-click="tab('new')" class="btn btn-success">RECENT</button></li>
            <li><button ng-click="tab('hot')" class="btn btn-danger">HOT</button></li>
        </ul>
    </div>
    <div class="mood-panels">
        <ul>
            <li><button ng-click="tab('happy')" class="btn btn-default"><i class="twa twa-smile"></i></button></li>
            <li><button ng-click="tab('sad')" class="btn btn-default"><i class="twa twa-cry"></i></button></li>
            <li><button ng-click="tab('angry')" class="btn btn-default"><i class="twa twa-triumph"></i></button></li>
        </ul>
    </div>

    <!-- Display posts -->
    <div ng-repeat="post in posts | filter: filters | orderBy: orders"> <!-- can also order by '-flags', '-upvotes' -->
        <span class="glyphicon glyphicon-heart" ng-click="incrementUpvotes(post)"></span>
            {{post.upvotes}}
        <span class="glyphicon glyphicon-flag" ng-click="incrementFlags(post)"></span>
            {{post.flags}}
        <span style="font-size:20px; margin-left:10px;">
            {{post.title}}
        </span>
        <span style="font-size:20px; margin-left:10px;">
            {{post.body}}
        </span>
        <span>
            <a href="#/posts/{{post._id}}">Comments</a>
            ({{post.comments.length}}) {{post.date | date:'dd-MMM-yy HH:mm'}}
        </span><br><br>
      </div>
    </script>

<!-- posts.html -->
    <script type="text/ng-template" id="/posts.html">

        <!-- Header -->
        <div>
            <a href="javascript:history.back()">
                <h2><span class="glyphicon glyphicon-circle-arrow-left"></span> Back</h2>
            </a>
            <h2>{{post.title}}</h2>
            <h3>{{post.body}}</h3>
        </div>

        <!-- Display comments -->
        <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
            <span class="glyphicon glyphicon-heart" ng-click="incrementUpvotes(comment)"></span>
            {{comment.upvotes}}
            <span class="glyphicon glyphicon-flag" ng-click="incrementFlags(comment)"></span>
            {{comment.flags}}
            <span style="font-size:20px; margin-left:10px;">
                {{comment.body}}
            </span><br><br>
        </div>

        <!-- Section to add a new comment -->
        <form ng-hide="!isLoggedIn()" ng-submit="addComment()" style="margin-top:30px;">
            <div class="form-inline" class="form-group">
                <input type="text"
                class="form-control"
                placeholder="Add a new comment"
                ng-model="body"></input>
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </form>
        <div ng-hide="isLoggedIn()">
	       <h4>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h4>
	    </div>
    </script>

<!-- register.html -->
    <script type="text/ng-template" id="/register.html">

        <!-- Error message -->
        <div ng-show="error" class="alert alert-danger row">
    	    <span>{{ error.message }}</span>
        </div>

        <!-- Registration form -->
        <form ng-submit="register()" style="margin-top:30px;">
    	    <h3>Register</h3>
            <div class="form-group">
                <input type="text"
                class="form-control"
                placeholder="Username"
                ng-model="user.username"></input>
            </div>
            <div class="form-group">
                <input type="password"
                class="form-control"
                placeholder="Password"
                ng-model="user.password"></input>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </script>

<!-- login.html -->
    <script type="text/ng-template" id="/login.html">

        <!-- Error message -->
        <div ng-show="error" class="alert alert-danger row">
            <span>{{ error.message }}</span>
        </div>

        <!-- Login form -->
        <form ng-submit="logIn()" style="margin-top:30px;">
            <h3>Log In</h3>
            <div class="form-group">
                <input type="text"
                class="form-control"
                placeholder="Username"
                ng-model="user.username"></input>
            </div>
            <div class="form-group">
                <input type="password"
                class="form-control"
                placeholder="Password"
                ng-model="user.password"></input>
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
    </script>

</body>
</html>

<!-- NOTE: Emoji support from http://ellekasai.github.io/twemoji-awesome/ -->
<!-- NOTE: MEAN stack tutorial from https://thinkster.io/tutorials/mean-stack -->
