<html>
<head>
    <meta charset="utf-8">
    <title>mooody</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="/stylesheets/twemoji-awesome.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/sidebar.js"></script>

    <!-- Chartist -->
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="/javascripts/chartist-plugin-fill-donut.js"></script>
    <script src="/javascripts/chartist-plugin-tooltip.js"></script>
    <link rel="stylesheet" href="/stylesheets/chartist-plugin-tooltip.css"></script>

    <!-- Bootstrap 3.3.7 -->
    <script src="https://code.jquery.com/jquery-2.2.4.js"
    integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href="/stylesheets/style.css" rel="stylesheet">


</head>

<!--****************************************************-->

<body ng-app="mooody">

<!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-large" ng-controller="NavCtrl">
                  <a class="w3-bar-item" href="#" style="text-decoration: none;">m<i class="twa twa-smile"></i><i class="twa twa-cry"></i><i class="twa twa-triumph"></i>dy</a>
                  <a class="w3-bar-item w3-button" href="https://mooody-princeton.github.io/">About</a>
                  <!--<a class="w3-bar-item w3-button" ng-show="isLoggedIn()" style="text-decoration: none;">{{ currentUser() }}</a>-->
                  <a class="w3-bar-item w3-button" ng-show="isLoggedIn()" href="" ng-click="logOut()">Log Out</a>
                  <a class="w3-bar-item w3-button" ng-hide="isLoggedIn()" href="/#/login">Log In</a>
                  <a class="w3-bar-item w3-button" ng-hide="isLoggedIn()" href="/#/register">Register</a>
                  <a class="w3-bar-item w3-button" ng-hide="isLoggedIn()" href="/#/verify">Activate Account</a>
        </div>
    </div>

<!-- Display the rest of the page -->
    <div class="w3-row-padding w3-padding-32">
        <!-- Sidebar -->
        <div class="w3-sidebar w3-bar-block w3-center w3-white w3-collapse" ng-controller="SidebarCtrl" id="moodSidebar">
                <button class="w3-bar-item w3-button w3-hide-large" onclick="w3_close()">Close &times;</button>
                <div class="w3-padding-32">
                    <div ng-show="isLoggedIn()">
                        <span class="post-title">Hi, {{currentUser()}}!</span>
                    </div>
                    <div class="w3-padding-16"></div>
                    <span class="w3-padding-16 post-title">Princeton's Mood:</span>
                    <div class="ct-chart  ct-minor-second" id="chart"></div>
                    {{"H: " + currentSocialMood[0].happy}} {{"S: " + currentSocialMood[0].sad}} {{"A: " + currentSocialMood[0].angry}}
                    <div ng-show="isLoggedIn()">
                        <br><span class="post-body">Update your mood: </span>
                        <div class="w3-bar w3-xlarge">
                        <a ng-show="checkMood('happy')" class="w3-bar-item w3-button w3-gray" ng-click="setMoodTo('happy')"><i class="twa twa-smile"></i></a>
                        <a ng-hide="checkMood('happy')" class="w3-bar-item w3-button" ng-click="setMoodTo('happy')"><i class="twa twa-smile"></i></a>
                        <a ng-show="checkMood('sad')" class="w3-bar-item w3-button w3-gray" ng-click="setMoodTo('sad')"><i class="twa twa-cry"></i></a>
                        <a ng-hide="checkMood('sad')" class="w3-bar-item w3-button" ng-click="setMoodTo('sad')"><i class="twa twa-cry"></i></a>
                        <a ng-show="checkMood('angry')" class="w3-bar-item w3-button w3-gray" ng-click="setMoodTo('angry')"><i class="twa twa-triumph"></i></a>
                        <a ng-hide="checkMood('angry')" class="w3-bar-item w3-button" ng-click="setMoodTo('angry')"><i class="twa twa-triumph"></i></a>
                        </div>
                    </div>
                </div>
        </div><br><br>
        <!-- Postsfeed, login/registration page -->
        <div class="w3-container w3-main" id="mainContent">
            <button class="w3-button w3-hide-large w3-right w3-text-blue" onclick="w3_open()" id="toggleOn"><i class="glyphicon glyphicon-chevron-left"></i></button>
            <ui-view></ui-view>
        </div>
    </div>

<!-- home.html -->
    <script type="text/ng-template" id="/home.html">

    <div ng-hide="isLoggedIn()">
	  <span class="post-title">Please <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> to post.</span><br><br>
	</div>

    <div>
        <div class="w3-row-padding">
            <div class="w3-container w3-half">
                <div class="w3-bar w3-xlarge">
                    <a class="w3-bar-item w3-button w3-bottombar {{active_h}}" ng-click="tab('happy')"><i class="twa twa-smile"></i></a>
                    <a class="w3-bar-item w3-button w3-bottombar {{active_s}}" ng-click="tab('sad')"><i class="twa twa-cry"></i></a>
                    <a class="w3-bar-item w3-button w3-bottombar {{active_a}}" ng-click="tab('angry')"><i class="twa twa-triumph"></i></a>
                    <a class="w3-bar-item w3-button" ng-click="tab('all')" style="font-size:20.5px;">View All</a>
                </div>
            </div>
            <div class="w3-container w3-rest">
                <div class="w3-bar w3-xlarge">
                    <a class="w3-bar-item w3-button w3-right w3-bottombar {{active_hot}}" ng-click="toggle('hot')"><i class="twa twa-fire"></i></a>
                    <a class="w3-bar-item w3-button w3-right w3-bottombar {{active_new}}" ng-click="toggle('new')"><i class="twa twa-clock1"></i></a>
                </div>
            </div>
        </div>
        <form class="w3-container w3-padding-16" ng-hide="!isLoggedIn() || !isInFilter()" ng-submit="addPost()">
            <div class="w3-third w3-mobile">
                <input type="text" class="w3-input w3-border" ng-attr-placeholder="{{placeholder}}" ng-model="title" id="form-title"></input>
            </div>
            <div class="w3-half w3-mobile">
                <input type="text" class="w3-input w3-border" placeholder="If you need to elaborate...(optional)" ng-model="body" id="form-body"></input>
            </div>
            <div class="w3-rest w3-mobile">
                <button type="submit" class="w3-button w3-blue w3-border w3-border-blue w3-block">Post</button>
            </div>
        </form>
        <div ng-show="!isLoggedIn() || !isInFilter()"><br></div>
    </div>

    <!-- Display posts -->
    <div class="w3-container" ng-repeat="post in posts | filter: filters | orderBy: orders">
        <div class="w3-panel w3-white w3-border post">
            <div><br>
                <span class="post-title">
                {{post.title}}
                </span><br>
                <span class="post-body">
                {{post.body}}
            </span><br><br>
            </div>
            <span>
                <ul class="post-buttons">
                    <li>{{post.date | date:'MMM dd hh:mm a'}}</li>
                    <li><span class="glyphicon glyphicon-heart" ng-click="incrementUpvotes(post)"></span>
                    {{post.upvotes}}</li>
                    <li><span class="glyphicon glyphicon-flag" ng-click="incrementFlags(post)"></span>
                    {{post.flags}}</li>
                    <li><a href="#/posts/{{post._id}}"><span class="glyphicon glyphicon-comment"></span></a>
                        {{post.comments.length}}</li>
                </ul>
            </span>
            </div>
      </div>
    </script>

<!-- posts.html -->
    <script type="text/ng-template" id="/posts.html">

        <!-- Header -->
        <div>
            <a href="#">
                <div><span class="glyphicon glyphicon-arrow-left"></span> Back</div><br>
            </a>
            <span class="post-title">{{post.title}}</span><br>
            <span class="post-body">{{post.body}}</span>
        </div><br>

        <!-- Display comments -->
        <div ng-repeat="comment in post.comments | orderBy:'-date'">
            <span class="glyphicon glyphicon-heart" ng-click="incrementUpvotes(comment)"></span>
            {{comment.upvotes}}
            <span class="glyphicon glyphicon-flag" ng-click="incrementFlags(comment)"></span>
            {{comment.flags}}
            <span class="comment">{{comment.body}}</span><br><br>
        </div><br>

        <!-- Section to add a new comment -->
        <form class="w3-container" ng-hide="!isLoggedIn()" ng-submit="addComment()">
            <div class="w3-twothird">
                <input type="text" class="w3-input w3-border" placeholder="Add a new comment" ng-model="body"></input>
            </div>
            <div class="w3-third">
                <button type="submit" class="w3-button w3-blue w3-border w3-border-blue w3-block">Post</button>
            </div>
        </form>
        <div class="w3-container" ng-hide="isLoggedIn()">
	       <span class="post-title">You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</span>
	    </div>
    </script>

<!-- register.html -->
    <script type="text/ng-template" id="/register.html">

        <!-- Error message -->
        <div ng-show="error" class="w3-panel w3-pale-red">
    	    <span>{{ error.message }}</span>
        </div>

        <!-- Registration form with validator -->
        <h3>Register</h3>
        <br>
        <form data-toggle="validator" role="form" ng-submit="register()">
            <div class="form-group">
                <label for="inputName" class="control-label">Username</label>
                <input type="text" class="form-control" id="inputName" placeholder="Username" ng-model="user.username" required>
            </div>
            <!-- For phone verification -->
            <div class="form-group has-feedback">
                <label for="inputTwitter" class="control-label">Phone Number</label>
                <div class="input-group" id="phoneform">
                    <span class="input-group-addon">+1</span>
                    <input type="text" class="form-control" placeholder="Phone number" name="phoneNumber" ng-model="user.phonenum" required>
                </div>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>
            <!-- For email verification (ditched) -->
            <!-- <div class="form-group has-feedback">
                <label for="inputTwitter" class="control-label">Princeton Email</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Netid" ng-model="user.netid" required>
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control" placeholder="Anything in-between (if any)" ng-model="user.optional">
                    <span class="input-group-addon">princeton.edu</span>
                </div>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div> -->
            <div class="form-group">
                <label for="inputPassword" class="control-label">Password</label>
                <div class="form-inline row">
                  <div class="form-group col-sm-6">
                    <input type="password" data-minlength="1" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password" required>
                    <div class="help-block">Minimum of 1 characters</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Sign me up!</button>
              </div>
            </form>
    </script>

<!-- login.html -->
    <script type="text/ng-template" id="/login.html">

        <!-- Error message -->
        <div ng-show="error" class="w3-panel w3-pale-red">
            <span>{{ error.message }}</span>
        </div>

        <!-- Login form with validator -->
        <h3>Log In</h3>
        <br>
        <form data-toggle="validator" role="form" ng-submit="logIn()">
            <div class="form-group">
                <label for="inputName" class="control-label">Username</label>
                <input type="text" class="form-control" id="inputName" placeholder="Username" ng-model="user.username">
            </div>
            <div class="form-group">
                <label for="inputPassword" class="control-label">Password</label>
                <div class="form-inline row">
                  <div class="form-group col-sm-6">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password" required>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Log in!</button>
              </div>
            </form>

        <a class="w3-button" href="/#/verify">Click here if you have the verification code to activate your account.</a>
    </script>

<!-- verify.html -->
    <script type="text/ng-template" id="/verify.html">

        <!-- Status message -->
        <div ng-show="error" class="w3-panel w3-pale-red">
            <span>{{ error.failmessage }}</span>
        </div>
        <div ng-show="success" class="w3-panel w3-pale-green">
            <span>{{ success.successmessage }}</span>
        </div>

        <h3>Enter your 6-character verification code below.</h3>
        <br>
        <form data-toggle="validator" role="form" ng-submit="verifyNow()">
            <div class="form-group">
                <label for="inputName" class="control-label">Code (case sensitive)</label>
                <input type="text" class="form-control" id="inputName" placeholder="Code" ng-model="code" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Activate your account!</button>
            </div>
        </form>
        {{code}}
    </script>
</body>
</html>

<!-- NOTE: Emoji support from http://ellekasai.github.io/twemoji-awesome/ -->
<!-- NOTE: MEAN stack tutorial from https://thinkster.io/tutorials/mean-stack -->
