<html>
<head>
    <meta charset="utf-8">
    <title>mooody</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/twemoji-awesome.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

</head>

<!--****************************************************-->

<body ng-app="mooody">

<!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-large" ng-controller="NavCtrl">
                  <a class="w3-bar-item" href="#">m<i class="twa twa-smile"></i><i class="twa twa-cry"></i><i class="twa twa-triumph"></i>dy</a>
                  <!--<a class="w3-bar-item w3-button" href="https://mooody-princeton.github.io/">About</a>-->
                  <!--<a class="w3-bar-item w3-button" ng-show="isLoggedIn()">{{ currentUser() }}</a>-->
                  <a class="w3-bar-item w3-button" ng-show="isLoggedIn()" href="" ng-click="logOut()">Log Out</a>
                  <a class="w3-bar-item w3-button" ng-hide="isLoggedIn()" href="/#/login">Log In</a>
                  <a class="w3-bar-item w3-button" ng-hide="isLoggedIn()" href="/#/register">Register</a>
        </div>
    </div>

<!-- Display the rest of the page -->
    <div class="w3-row-padding w3-padding-64">
        <!-- Sidebar (1/3 width) -->
        <div id="mood-sidebar" class="w3-container w3-third w3-center" ng-controller="SidebarCtrl">
                <div ng-show="isLoggedIn()">
                    <h3>Hi, {{currentUser()}}!</h3>
                    <h4>Your current mood is: {{currentMood[0].mood}}</h4>
                    <!-- Graph --->
                </div>
                <h3>Princeton's Mood:</h3>
                <!-- Example of how to use social mood data from back-end -->
                <div class="ct-chart  ct-perfect-fourth"></div>
                {{"H: " + currentSocialMood[0].happy}} {{"S: " + currentSocialMood[0].sad}} {{"A: " + currentSocialMood[0].angry}}
                <div ng-show="isLoggedIn()">
                    <h4>Update your mood:</h4>
                    <div class="w3-bar w3-xlarge">
                        <a class="w3-bar-item w3-button {{active_mood_h}}" ng-click="setMoodTo('happy')"><i class="twa twa-smile"></i></a>
                        <a class="w3-bar-item w3-button {{active_mood_s}}" ng-click="setMoodTo('sad')"><i class="twa twa-cry"></i></a>
                        <a class="w3-bar-item w3-button {{active_mood_a}}" ng-click="setMoodTo('angry')"><i class="twa twa-triumph"></i></a>
                    </div>
                </div>
        </div><br><br>
        <!-- Postsfeed, login/registration page (2/3 width) -->
        <div class="w3-container w3-twothird">
            <ui-view></ui-view>
        </div>
    </div>

<!-- home.html -->
    <script type="text/ng-template" id="/home.html">

    <div ng-hide="isLoggedIn()">
	  <h4>Please <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> to post.</h4><br>
	</div>

    <div class="w3-row-padding">
        <div class="w3-container w3-half">
            <div class="w3-bar w3-xlarge">
                <a class="w3-bar-item w3-button w3-mobile w3-bottombar {{active_h}}" ng-click="tab('happy')"><i class="twa twa-smile"></i></a>
                <a class="w3-bar-item w3-button w3-mobile w3-bottombar {{active_s}}" ng-click="tab('sad')"><i class="twa twa-cry"></i></a>
                <a class="w3-bar-item w3-button w3-mobile w3-bottombar {{active_a}}" ng-click="tab('angry')"><i class="twa twa-triumph"></i></a>
                <a class="w3-bar-item w3-button w3-mobile" ng-click="tab('all')" style="font-size:20.5px;">View All</a>
            </div>
        </div>
        <div class="w3-container w3-rest"> <!-- third -->
            <div class="w3-bar w3-xlarge">
                <a class="w3-bar-item w3-button w3-mobile w3-right w3-bottombar {{active_hot}}" ng-click="toggle('hot')"><i class="twa twa-fire"></i></a>
                <a class="w3-bar-item w3-button w3-mobile w3-right w3-bottombar {{active_new}}" ng-click="toggle('new')"><i class="twa twa-clock1"></i></a>
            </div>
        </div>
    </div>
    <form class="w3-container w3-padding-16" ng-hide="!isLoggedIn()" ng-submit="addPost()">
        <div class="w3-third"> <!-- quarter -->
            <input type="text" class="w3-input w3-border" ng-attr-placeholder="{{placeholder}}" ng-model="title" id="form-title"></input>
        </div>
        <div class="w3-half">
            <input type="text" class="w3-input w3-border" placeholder="If you need to elaborate...(optional)" ng-model="body" id="form-body"></input>
        </div>
        <div class="w3-rest"> <!-- quarter -->
            <button ng-disabled="!isInFilter()" type="submit" class="w3-button w3-blue w3-border w3-border-blue">Post</button>
        </div>
    </form>

    <!-- Display posts -->
    <div class="w3-container w3-border-bottom w3-border-gray" ng-repeat="post in posts | filter: filters | orderBy: orders">
        <div> <!--class="w3-card"-->
            <div><br>
                <span style="font-size:20px; margin-left:10px;">
                    {{post.title}}
                </span><br><br>
                <span style="font-size:15px; margin-left:10px;">
                    {{post.body}}
                </span><br><br>
            </div>
                <span>
                    <ul class="post-buttons">
                        <li>{{post.date | date:'MMM dd hh:mm a'}}</li>
                        <li><span class="glyphicon glyphicon-heart" ng-click="incrementUpvotes(post)"></span>
                        {{post.upvotes}}</li>
                        <li><span class="glyphicon glyphicon-flag" ng-click="incrementFlags(post)"></span>
                        {{post.flags}}</li>
                        <li><a href="#/posts/{{post._id}}"><span class="glyphicon glyphicon-comment"></span></a>
                            {{post.comments.length}}</li>
                    </ul>
                </span>
            </div>
      </div>
    </script>

<!-- posts.html -->
    <script type="text/ng-template" id="/posts.html">

        <!-- Header -->
        <div>
            <a href="#">
                <h3><span class="glyphicon glyphicon-circle-arrow-left"></span> Back</h3>
            </a>
            <h2>{{post.title}}</h2>
            <p>{{post.body}}</p>
        </div><br>

        <!-- Display comments -->
        <div ng-repeat="comment in post.comments | orderBy:'-date'">
            <span class="glyphicon glyphicon-heart" ng-click="incrementUpvotes(comment)"></span>
            {{comment.upvotes}}
            <span class="glyphicon glyphicon-flag" ng-click="incrementFlags(comment)"></span>
            {{comment.flags}}
            <span style="font-size:20px; margin-left:10px;">{{comment.body}}</span><br><br>
        </div><br>

        <!-- Section to add a new comment -->
        <form class="w3-container" ng-hide="!isLoggedIn()" ng-submit="addComment()">
            <div class="w3-twothird">
                <input type="text" class="w3-input w3-border" placeholder="Add a new comment" ng-model="body"></input>
            </div>
            <div class="w3-third">
                <button type="submit" class="w3-button w3-blue w3-border w3-border-blue">Post</button>
            </div>
        </form>
        <div class="w3-container" ng-hide="isLoggedIn()">
	       <h4>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h4>
	    </div>
    </script>

<!-- register.html -->
    <script type="text/ng-template" id="/register.html">

        <!-- Error message -->
        <div ng-show="error" class="w3-panel w3-pale-red">
    	    <span>{{ error.message }}</span>
        </div>

        <!-- Registration form -->
        <form class="w3-container" ng-submit="register()">
    	    <h3>Register</h3>
            <p>Note about Princeton email needed to register here...</p>
            <div>
                <input type="text" class="w3-input w3-border" placeholder="Username" ng-model="user.username"></input>
            </div>
            <div>
                <input type="password" class="w3-input w3-border" placeholder="Password" ng-model="user.password"></input>
            </div>
            <div>
                <button type="submit" class="w3-button w3-blue w3-border w3-border-blue">Register</button>
            </div>
        </form>
    </script>

<!-- login.html -->
    <script type="text/ng-template" id="/login.html">

        <!-- Error message -->
        <div ng-show="error" class="w3-panel w3-pale-red">
            <span>{{ error.message }}</span>
        </div>

        <!-- Login form -->
        <form class="w3-container" ng-submit="logIn()">
            <h3>Log In</h3>
            <p>Something about Princeton email needed to login here...</p>
            <div>
                <input type="text" class="w3-input w3-border" placeholder="Username" ng-model="user.username"></input>
            </div>
            <div>
                <input type="password" class="w3-input w3-border" placeholder="Password" ng-model="user.password"></input>
            </div>
            <div>
                <button type="submit" class="w3-button w3-blue w3-border w3-border-blue">Log In</button>
            </div>
        </form>
    </script>

</body>
</html>

<!-- NOTE: Emoji support from http://ellekasai.github.io/twemoji-awesome/ -->
<!-- NOTE: MEAN stack tutorial from https://thinkster.io/tutorials/mean-stack -->
