/* Format body */
body {
  padding: 20px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  font-weight:200;
  background-color: #fafafa !important;
}

/* Format links */
/*a {
  color: #48b6fc;
  text-decoration: none;
}
a:visited, a:focus {
    text-decoration: none;
    color: #48b6fc;
}
a:hover {
    text-decoration: none;
    color: #7acafd;
}*/

/* Format buttons at bottom of each post */
.post-buttons ul {
    list-style-type: none;
}
.post-buttons li {
    display: inline;
    padding: 5px;
    color:#ccc;
}

/* coloring flags and hover over */
.glyphicon.glyphicon-flag {
  color: #ddd;
}
.glyphicon.glyphicon-flag:hover {
   cursor: pointer;
}

/* coloring hearts and hover over */
.glyphicon.glyphicon-heart {
  color: #cc2b00;
}
.glyphicon.glyphicon-heart:hover {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
  opacity:0.8;
  cursor: pointer;
}

/* post formatting */
.post{
  border-style: solid;
  border-color: #ddd !important;
  margin: 0px auto 15px;
}
.post:hover{
  transition-duration: 0.4s;
  border-color: #79C5FF !important;
}

.w3-border-inactive {
  border-color: #ddd !important;
}
.w3-button:hover {
  background-color:#ddd !important;
}
.w3-button:focus {
  background-color:#ddd !important;
}

/* mood side bar */
#moodSidebar {
    width:300px;
    right:0
}
#mainContent {
    margin-right:300px;
}

/* post title and body */
.post-title {
    font-size:20px;
    margin-left:10px;
    color:#666666;
}
.post-body {
    font-size:15px;
    margin-left:10px;
}
.comment {
    font-size:20px;
    margin-left:10px;
}

/* add custom styling here with comments */
